.container-about {
  background-image: url(../assets/images/fondo-about.jpg);
  background-size: cover;
  padding-bottom: 170;
  padding-top: 120px;
  min-height: 100dvh;
  height: auto;
  color: white;
  padding-bottom: 50px;
}
.container-about > h4 {
  font-size: 4.5rem;
  font-family: "logofont";
  font-weight: lighter;
  text-align: center;
  margin-bottom: 100px;
}
.section-about {
  margin-block: 50px;
}
.section-about > h6 {
  font-size: 1.5rem;
  font-family: "logofont";
  font-weight: lighter;
  margin-block: 10px;
}
.section-about > p {
  font-size: 1rem;
  font-family: "signika";
  font-weight: lighter;
  margin-inline: 20px;
}
@media (max-width: 899px) {
  .container-about > h4 {
    font-size: 3rem;
  }
}
