.container-homePage {
  background-image: url("../assets/images/home1.jpg");
  background-size: cover;
  padding-top: 160px;
  min-height: calc(100dvh - 150px);
  height: auto;
  display: flex;
  flex-direction: column;
}
.container-homePage > h1 {
  font-size: 8rem;
  color: white;
  font-family: "logofont";
  font-weight: lighter;
  text-align: center;
  margin-bottom: 100px;
}
.icon-homePage {
  display: flex;
  gap: 20px;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-inline: auto;
}
.iconoPizza-homePage,
.iconoPasta-homePage,
.iconoEnsalada-homePage,
.iconoPostre-homePage,
.iconoBebida-homePage {
  width: 200px;
  height: 200px;
  background-color: rgba(190, 190, 190, 0.694);
  text-align: center;
  padding: 10px;
  border-radius: 10px 40px;
  box-shadow:
    0px 0px 30px grey,
    5px 5px 0px grey;
  transition: 0.3s;
}
.iconoPizza-homePage:hover,
.iconoPasta-homePage:hover,
.iconoEnsalada-homePage:hover,
.iconoPostre-homePage:hover,
.iconoBebida-homePage:hover {
  background-color: #b67f88aa;
  box-shadow:
    5px 5px 0px grey,
    2px 2px 10px #b8001f;
  transition: 0.4s;
}
.iconoPizza-homePage > h3,
.iconoPasta-homePage > h3,
.iconoEnsalada-homePage > h3,
.iconoPostre-homePage > h3,
.iconoBebida-homePage > h3 {
  font-size: 1.8rem;
  font-family: "signika";
  color: black;
}
.iconoPizza-homePage > img,
.iconoPasta-homePage > img,
.iconoEnsalada-homePage > img,
.iconoPostre-homePage > img,
.iconoBebida-homePage > img {
  width: 60%;
  margin-block: 20px;
}
.carrusel-homePage {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  background-color: #b8001f72;
  padding-block: 50px;
}
.titleCarrusel-homePage {
  width: 100%;
  display: flex;
  justify-content: center;
}
.titleCarrusel-homePage > h5 {
  font-size: 3rem;
  font-family: logofont;
  font-weight: lighter;
  color: white;
}
.mapLocation-homePage {
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(190, 190, 190, 0.694);
  padding-block: 50px;
  gap: 50px;
  flex-wrap: wrap;
  font-family: "signika";
}
.map-homePage {
  width: 400px;
}
.titleMap-homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleMap-homePage > h5 {
  font-size: 3rem;
  font-family: logofont;
  font-weight: lighter;
  color: black;
}
.textMap-homePage {
  height: 100%;
  align-items: center;
  margin-top: 50px;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .container-homePage > h1 {
    font-size: 6rem;
  }
}
