.image-carrusel {
  width: 100%;
  object-fit: cover;
  border-radius: 50px;
  height: 200px;
  padding: 20px;
}
@media (max-width: 650px) {
  .image-carrusel {
    border-radius: 30px;
    height: 150px;
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .image-carrusel {
    height: 120px;
  }
}
