.container-product {
  /* background-color: rgb(70, 29, 1); */
  background-image: url(../../assets/images/fondo-admin.jpg);
  background-size: auto;
  padding-bottom: 100px;
  padding-top: 120px;

  min-height: calc(100dvh - 150px);
  height: auto;
}
.container-product > h4 {
  font-size: 4.5rem;
  color: white;
  font-family: "logofont";
  font-weight: lighter;
  text-align: center;
  margin-bottom: 100px;
}

.button-product,
.buttonAdd-product {
  padding: 1px 10px;
  background-color: white;
  border-radius: 10px;
}
/* .productList-product {
  padding-bottom: 50px;
} */

.button-product:hover,
.buttonAdd-product:hover {
  background-color: #b8001f;
  color: white;
  transition: 0.4s;
}
.radio-product {
  background-color: #b8001f;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-inline: auto;
  width: 750px;
  border-radius: 20px;
}
.radioProduct-produc {
  display: flex;
}

.radioProduct-produc > p {
  font-size: 1rem;
  color: white;

  margin-block: auto;
}

@media (max-width: 899px) {
  .container-product > h4 {
    font-size: 2rem;
  }
}
