.container-homeAdmin {
  /* background-color: rgb(70, 29, 1); */
  background-image: url(../../assets/images/fondo-admin.jpg);
  background-size: cover;
  padding-bottom: 170;
  padding-top: 120px;
  min-height: 100dvh;
}
.container-homeAdmin > h4 {
  font-size: 4.5rem;
  color: white;
  font-family: "logofont";
  font-weight: lighter;
  text-align: center;
  margin-bottom: 100px;
}
.containerCard-homeAdmin {
  display: flex;
  gap: 20px;

  justify-content: center;
  flex-wrap: wrap;
}
.card-homeAdmin {
  border: 16px solid white;
  margin-block: 30px;

  width: 200px;
}
@media (max-width: 899px) {
  .container-homeAdmin > h4 {
    font-size: 2rem;
  }
}
