.container-pizza {
  background-image: url("../../../assets//images/sumary-home.jpg");
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 20px;
  min-height: calc(100dvh - 150px);
  height: auto;
}
.container-pizza > h4 {
  font-size: 5rem;
  color: white;
  font-family: "logofont";
  font-weight: lighter;
  text-align: center;
  margin-bottom: 100px;
}
.button-pizza {
  position: fixed;
  bottom: 200px;
  right: 50px;
  margin: 15px;
  display: flex;
}
@media (max-width: 1100px) {
  .button-pizza {
    display: flex;
    flex-direction: column;
  }
}
